@import url('ink.css');

body{
    background-color: #fff0f7;
}

.banner-img{
    width: 100%;
    height: auto;
}
.img{
    width: 100%;
    height: auto;
}

.card{
    border: solid 2px #baa7b1;
}

.btn{
    height: 50px;
    background-color: #e8d1dc;
    border: none;
}

.img-content{
    border-radius: 50px;
}

.content{
    margin-top: 75px;
}

.producto{
    border: solid 2px #baa7b1;
}

.footer{
    border-top: 2px solid black;
}

.container {
    position: relative;
    width: 100%;
}

.container .btn{
    position: absolute;
    top: 45%;
    left: 37%;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}